<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :profile %><br>
    <%= f.text_field :profile %>
  </div>
  <div class="field">
    <%= f.label :icon_path %><br>
    <%= f.text_field :icon_path %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :twitter_id %><br>
    <%= f.text_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :oauth_token %><br>
    <%= f.text_field :oauth_token %>
  </div>
  <div class="field">
    <%= f.label :oauth_secret %><br>
    <%= f.text_field :oauth_secret %>
  </div>
  <div class="field">
    <%= f.label :client_token %><br>
    <%= f.text_field :client_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
