<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @account.profile %>
</p>

<p>
  <strong>Icon path:</strong>
  <%= @account.icon_path %>
</p>

<p>
  <strong>Area:</strong>
  <%= @account.area %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @account.twitter_id %>
</p>

<p>
  <strong>Oauth token:</strong>
  <%= @account.oauth_token %>
</p>

<p>
  <strong>Oauth secret:</strong>
  <%= @account.oauth_secret %>
</p>

<p>
  <strong>Client token:</strong>
  <%= @account.client_token %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
